 body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: #BBB;
}

button {
    height: 100px;
    width: 100px;
}

#container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
}